dist: trusty
sudo: required

language: node_js
node_js:
  - '10'

matrix:
  include:
    - os: linux
      before_install: # 为了支持打包rpm格式的包
        - sudo apt-get update
        - sudo apt-get install --no-install-recommends -y gcc-multilib g++-multilib
        - sudo apt-get install --no-install-recommends -y rpm
    - os: osx

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run go
  - npm run packapp

branches:
  only:
    - master